* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1296px;
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 80px;
}

.card {
  width: 636px;
}

.pic img {
  border-radius: 8px;
  margin-bottom: 16px;
}

.content .text {
  margin-bottom: 32px;
}

.content .text h3 {
  font-size: 28px;
  color: #3B3B3B;
  margin-bottom: 12px;
}

.content .text p {
  font-size: 16px;
  color: #919191;
}

.content .tags a {
  background-color: #F1F1F1;
  text-decoration: none;
  color: #3B3B3B;
  padding: 8px 12px;
  margin-right: 8px;
  border-radius: 50px;
}